.location-autocomplete {
    background-color: #fff;
    z-index: 999;
    list-style-type: none;
    padding: 0;
    position: absolute !important;
    top: 100% !important;
    margin-top: 8px;
    border-radius: 3px;
    width: 100%;
    min-width: 160px;
    padding: 5px 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    li {
        padding: 10px 15px;
        color: #000;
        cursor: pointer;
        &:hover {
            background-color: #f0f0f0;
        }
    }
}