// GENERAL(GLOBAL) STYLES
body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body.one_ad__popup-open {
    overflow: hidden;
}

strong {
    font-weight: 500;
}

.container-fluid {
    max-width: 1330px;
}

.row {
    &.gutter-10 {
        margin-left: -10px;
        margin-right: -10px;
        >div {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    &.gutter-5 {
        margin-left: -5px;
        margin-right: -5px;
        >div {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}

// FLEX SUPPORT for BS3
.flex_row {
    -js-display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
}

.col {
    padding: 0 15px;
}

.flex_grow {
    flex-grow: 1;
    -webkit-flex-grow: 1;
}

a {
    color: #1e0fcc;
    &:hover,
    &:focus {
        color: #1e0fcc;
    }
}

button {
    outline: 0;
    &:focus {
        outline: 0;
    }
}

.text-right-xs {
    @media(max-width: 768px) {
        text-align: right;
    }
}

.darker_bg {
    background-color: #f0f0f0;
}

.white_box {
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    &.p30 {
        @media(min-width: 768px) {
            padding: 30px;
        }
    }
}

.main_content {
    position: relative;
    &.overlay_main_on {
        overflow: hidden;
        .overlay_main {
            opacity: 1;
            visibility: visible;
        }
    }
}

// PAGE HERO
.page_hero {
    padding: 30px 0px;
    background-color: #122738;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/home-hero.jpg);
    position: relative;
    @media(min-width: 768px) {
        padding: 60px 0px;
    }
    @media(min-width: 992px) {
        padding: 100px 0px;
    }
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(#151b23, 0.86);
        z-index: 1;
    }
    .search_area {
        position: relative;
        z-index: 3;
        @media(max-width: 767px) {
            padding: 0 25px;
        }
    }
    .dropdown-menu {
        width: 100%;
        margin-top: 8px;
        border-radius: 3px;
        >li {
            &.dropdown-submenu {
                >a {
                    position: relative;
                    padding-right: 40px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    outline: 0;
                }
                .dropdown-menu {
                    margin-top: 0;
                    >li {
                        &.dropdown-submenu {
                            >a {
                                padding-right: 40px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                &:after {
                                    display: none;
                                }
                            }
                        }
                        >a {
                            color: #4c4c4c;
                            font-size: 14px;
                            padding: 5px 15px;
                            padding-left: 30px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            &:hover {
                                color: #3c2fd3;
                            }
                        }
                    }
                }
            }
            >a {
                padding: 10px 15px;
                color: #3c2fd3;
            }
        }
    }
    .categories_dropdown {
        .dropdown-menu {
            >li {
                &.dropdown-submenu {
                    .dropdown_submenu_wrap {
                        @media(min-width: 768px) {
                            width: calc(100% + 15px);
                        }
                        >.scrollable-y {
                            // &.open_submenu {
                            //     overflow: visible !important;
                            //     .ps__scrollbar-y-rail,
                            //     .ps__scrollbar-x-rail {
                            //         display: none;
                            //     }
                            // }
                            .ps__scrollbar-y-rail {
                                width: 8px;
                                >.ps__scrollbar-y {
                                    right: 6px;
                                    width: 4px;
                                }
                            }
                            &:hover {
                                .ps__scrollbar-y-rail:hover {
                                    background-color: transparent;
                                }
                            }
                            .dropdown-menu {
                                position: static;
                            }
                        }
                    }
                    .dropdown-menu {
                        top: 0;
                        height: 100%;
                    }
                }
            }
        }
    }
    .locations_dropdown {
        .dropdown-menu {
            >li {
                &.dropdown-submenu {
                    .dropdown_submenu_wrap {
                        width: 100%;
                        height: auto;
                        @media(min-width: 992px) and (max-width: 1080px) {
                            width: calc(80% + 15px);
                        }
                        @media(min-width: 1081px) {
                            width: calc(100% + 15px);
                        }
                        >.scrollable-y {
                            .ps__scrollbar-y-rail {
                                width: 8px;
                                >.ps__scrollbar-y {
                                    right: 6px;
                                    width: 4px;
                                }
                            }
                            &:hover {
                                .ps__scrollbar-y-rail:hover {
                                    background-color: transparent;
                                }
                            }
                            .dropdown-menu {
                                position: static;
                            }
                        }
                    }
                    .dropdown-menu {
                        top: 0;
                    }
                }
            }
        }
    }
    .form_wrap {
        border-radius: 2px;
        @media(min-width: 768px) {
            padding: 10px;
            background-color: rgba(255, 255, 255, 0.3);
        }
        .select2-container {
            .select2-selection--single {
                height: 46px;
                border-radius: 2px;
                .select2-selection__rendered {
                    padding-left: 14px;
                    line-height: 46px;
                }
                .select2-selection__arrow {
                    width: 28px;
                    b {
                        border-color: #686868 transparent transparent transparent;
                        border-width: 9px 5px 0 5px;
                    }
                }
            }
            &.select2-container--open {
                .select2-selection--single {
                    .select2-selection__arrow {
                        b {
                            border-color: transparent transparent #686868 transparent;
                            border-width: 0 5px 9px 5px;
                        }
                    }
                }
            }
        }
        .form-group {
            position: relative;

            >i {
                position: absolute;
                left: 14px;
                top: 50%;
                @include translate(0, -50%);
                color: #b2b2b2;
                font-size: 22px;
            }
            .dropdown-input {
                >i {
                    position: absolute;
                    left: 14px;
                    top: 50%;
                    @include translate(0, -50%);
                    color: #b2b2b2;
                    font-size: 22px;
                }
            }
        }
    }
    .form-control.icon-on-left {
        padding-left: 45px;
    }
    .form-group {
        margin-bottom: 0;
    }
    .btn {
        width: 100%;
        font-size: 16px;
    }
    .row {
        margin-bottom: 0;
        margin-left: -5px;
        margin-right: -5px;
    }
    .column {
        padding: 0 5px;
        @media(min-width: 768px) {
            width: calc((100% - 190px)/3);
        }
        @media(max-width: 767px) {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .btn_column {
        @media(min-width: 768px) {
            width: 190px;
        }
        @media(max-width: 767px) {
            margin-top: 27px;
        }
    }
     ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(0, 0, 0, 0.7);
    }
     ::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(0, 0, 0, 0.7);
    }
     :-ms-input-placeholder {
        /* IE 10+ */
        color: rgba(0, 0, 0, 0.7);
    }
     :-moz-placeholder {
        /* Firefox 18- */
        color: rgba(0, 0, 0, 0.7);
    }
}

.page_section__title {
    font-size: 20px;
    color: #000;
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: 0;
    @media(min-width: 768px) {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 50px;
    }
}

.dark-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.86);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
}

.overlay_main {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.86);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
}

.select2-container--open .select2-dropdown--below {
    border-radius: 0;
}

.select2-container {
    .select2-results__option--highlighted[aria-selected] {
        background-color: #2583d1;
    }
    .select2-results__option[aria-selected=true] {
        background-color: #d6d6d6;
    }
    * {
        outline: 0;
    }
    .select2-selection--single {
        border-radius: 0;
        border-color: #d6d6d6;
        height: 40px;
        .select2-selection__rendered {
            line-height: 40px;
        }
        &:focus {
            border-color: #3490db;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(52, 144, 219, 0.3);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(52, 144, 219, 0.3);
        }
        .select2-selection__arrow {
            top: 0;
            height: 100%;
        }
    }
}

input[type="checkbox"] {
    display: none;
    +label {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-left: 25px;
        margin-right: 15px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.6);
        &:before {
            content: '';
            position: absolute;
            width: 18px;
            height: 18px;
            background-color: $gray-bg;
            display: inline-block;
            border-radius: 50%;
            left: 0%;
            top: 50%;
            @include translate(0%, -50%);
        }
    }
    &:checked {
        +label {
            color: #000;
            &:before {
                background-color: #0192d6;
                content: "\e91b";
                line-height: 18px;
                width: 18px;
                font-size: 12px;
                text-align: center;
                color: #fff;
                font-family: 'icomoon' !important;
            }
        }
    }
}

.caret {
    border-top: 10px solid #686868;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.dropdown-submenu>a:after {
    @include translate(0, -50%);
    content: "\e925";
    font-family: 'icomoon';
    font-size: 24px;
    position: absolute;
    right: 15px;
    top: 50%;
}

.dropdown-submenu .dropdown_submenu_wrap {
    display: none;
    position: absolute;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 0;
    height: 100%;
    left: 100%;
    width: 100%;
    margin-top: 0;
    margin-left: -1px;
    background-color: #fff;
    border: none;
    @media(min-width: 768px) {
        -webkit-border-radius: 0 3px 3px 0;
        -moz-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    }
    @media(max-width: 767px) {
        position: static;
        padding: 0;
        width: 100%;
        left: 0;
        z-index: 999;
        margin: 0;
        .dropdown-menu {
            background-color: #f5f5f5;
        }
        .scrollable-y {
            max-height: 400px;
        }
    }
    .submenu_back {
        position: absolute;
        left: 0;
        top: 0;
        padding: 10px;
        button {
            background-color: transparent;
            border: none;
            font-size: 26px;
            width: 30px;
            height: 30px;
            padding: 0;
            color: #b2b2b2;
        }
    }
}

@media(min-width: 768px) {
    .dropdown-submenu:hover>.dropdown_submenu_wrap {
        display: block;
    }
}

@media(max-width: 767px) {
    .dropdown-submenu.open {
        >a {
            background-color: #f6f6f6;
            &:after {
                transform: translate(0, -50%) rotate(90deg);
                -webkit-transform: translate(0, -50%) rotate(90deg);
                -moz-transform: translate(0, -50%) rotate(90deg);
            }
        }
        >.dropdown_submenu_wrap {
            display: block;
        }
        .scrollable-y {
            >.dropdown-menu {
                display: block;
            }
        }
    }
}

.dropdown-submenu .dropdown-menu {}

.dropdown-submenu>.dropdown_submenu_wrap .dropdown-menu {
    box-shadow: none;
    border: none;
}

.dropdown-submenu:hover>.dropdown_submenu_wrap .dropdown-menu {
    display: block;
}

.dropdown.open .caret {
    border-top: 0;
    border-bottom: 10px solid #686868;
}

.dropdown-input {
    position: relative;
    .caret {
        position: absolute;
        right: 15px;
        top: 50%;
        @include translate(0, -50%);
    }
}

p.sans {
    font-family: 'Open Sans', sans-serif;
}

.exp_breadcrumb {
 
    position: relative;
    box-shadow: 1px 1px 1px #cccccc;
    &.white_bg {
           
        background-color: #ffffff;
    }
}

.breadcrumb {
    margin-bottom: 0;
    font-size: 14px;
    padding: 15px 0px;
    background-color: transparent;
    li {
        +li {
            &:before {
                color: inherit;
                padding: 0;
            }
        }
        &.active {
            a {
                color: rgba(0, 0, 0, 0.68);
            }
        }
    }
}

.form-control {
    border-radius: 3px;
    height: 46px;
    box-shadow: none;
    padding: 6px 15px;
    &:focus {
        border-color: #3490db;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(52, 144, 219, 0.3);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(52, 144, 219, 0.3);
    }
}

.scrollable-y {
    position: relative;
    max-height: 100%;
    height: 100%;
}

// .ps-container {
//     >.ps-scrollbar-y-rail {
//         opacity: 0.8;
//         >.ps-scrollbar-y {
//             background-color: #666;
//             right: 4px;
//         }
//         &:hover {
//             >.ps-scrollbar-y {
//                 width: 6px;
//             }
//         }
//     }
//     &:hover {
//         &.ps-in-scrolling.ps-y {
//             >.ps-scrollbar-y-rail,
//             >.ps-scrollbar-x-rail {
//                 opacity: 1;
//                 >.ps-scrollbar-y,
//                 >.ps-scrollbar-x {
//                     background-color: $bgcolor-level1;
//                 }
//             }
//         }
//         >.ps-scrollbar-y-rail,
//         >.ps-scrollbar-x-rail {
//             opacity: 1;
//             &:hover {
//                 >.ps-scrollbar-y,
//                 >.ps-scrollbar-x {
//                     background-color: $bgcolor-level1;
//                 }
//             }
//         }
//     }
// }
.one_ad_box {
    position: relative;
    z-index: 20;
    .in_favorites {
        width: 36px;
        border: none;
        height: 36px;
        position: absolute;
        right: 7px;
        top: 7px;
        z-index: 10;
        border-radius: 3px;
        background-color: #ebebeb;
        color: #fff;
        font-size: 20px;
        text-align: center;
        padding: 5px;
        &.in {
            color: #3492db;
        }
    }
    .one_ad_status {
        font-size: 15px;
        margin-bottom: 10px;
        text-align: right;
        display: block;
        @media(min-width: 480px) {
            position: absolute;
            top: 10px;
            right: 10px;
            margin: 0;
        }
        @media(min-width: 992px) {
            top: 20px;
            right: 20px;
        }
        &.inactive {
            color: #ef4141;
        }
        &.active {
            color: #1e0fcc;
        }
        &.promoted {
            color: #23b89a;
        }
    }
    .prom_icon {
        position: relative;
        i {
            position: absolute;
            top: -12px;
            left: 0;
            color: #23b89a;
            font-size: 53px;
        }
    }
    @include clearfix;
    .one_ad_thumb {
        width: 100%;
        @media(min-width: 480px) {
            max-width: 150px;
            margin-bottom: 5px;
            margin-right: 10px;
            margin-bottom: 10px;
            float: left;
        }
        @media(min-width: 992px) {
            max-width: 190px;
            margin-right: 20px;
            margin-bottom: 0;
        }
    }
    .one_ad_title {
        font-size: 19px;
        color: #1e0fcc;
        font-weight: 700;
        margin-top: 16px;
    }
    .one_ad_descr {
        color: rgba(0, 0, 0, 0.8);
    }
    .one_ad_info {
        margin-bottom: 0;
        color: rgba(0, 0, 0, 0.6);
        margin-top: 20px;
        >span {
            @media(max-width: 600px) {
                float: none !important;
                display: block;
                margin-bottom: 5px;
            }
        }
        i {
            font-size: 20px;
            color: #b2b2b2; // position: absolute;
            // left: 0;
            // top: 45%;
            // @include translate(-50%, -50%);
            display: inline-block;
            vertical-align: middle;
            margin-top: -2px;
            margin-right: 5px;
        }
    }
}

.right_wrap {
    height: 100%;
    position: relative;
    @media(min-width: 992px) {
        margin-left: 70px;
    }
}

.app_wrapper {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    @media(max-width: 991px) {
        right: 0;
    }
}

input[type="radio"] {
    display: none;
    +label {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-left: 30px;
        margin-right: 15px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.6);
        &:before {
            content: '';
            position: absolute;
            width: 18px;
            height: 18px;
            background-color: $gray-bg;
            display: inline-block;
            border-radius: 50%;
            left: 0%;
            top: 50%;
            @include translate(0%, -50%);
        }
    }
    &:checked {
        +label {
            color: #000;
            &:before {
                background-color: #0192d6;
                content: "\e91b";
                line-height: 18px;
                width: 18px;
                font-size: 12px;
                text-align: center;
                color: #fff;
                font-family: 'icomoon' !important;
            }
        }
    }
}

.radio_rows {
    margin-top: 10px;
}

.radio_row {
    margin: 4px 0px;
    label {
        font-size: 16px;
    }
}

// .loading_overlay {
//     position: fixed;
//     left: 0;
//     top: 0;
//     bottom: 0;
//     right: 0;
//     background-color: rgba(255, 255, 255, 0.8);
//     z-index: 999;
//     background-image: url(../images/ripple.svg);
//     background-size: 100px;
//     background-position: center;
//     background-repeat: no-repeat;
//     z-index: 999999;
//     @media(min-width: 992px) {
//         position: absolute;
//         left: 50%;
//     }
//     svg {
//         max-width: 100px;
//         position: absolute;
//         left: 50%;
//         top: 50%;
//         @include translate(-50%, -50%);
//     }
// }
// UTIL
.aspect_16_9 {
    padding-bottom: 56.25%;
    position: relative;
    >* {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }
}

.row.table_layout {
    display: table;
    .table_cell {
        vertical-align: middle;
        display: table-cell;
    }
    &.override_cols {
        .table_cell {
            float: none !important;
        }
    }
}

.author_thumb {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: block;
    vertical-align: middle;
    margin-left: auto;
    margin-bottom: 5px;
    margin-right: auto;
    &.no_image {
        position: relative;
        &:before {
            content: "\e935";
            font-family: 'icomoon';
            font-size: 30px;
            position: absolute;
            left: 50%;
            top: 50%;
            @include translate(-50%, -50%);
            color: #b1b1b1;
        }
    }
}